*{
    margin: 0;
}
body{
    text-decoration: none;
}
.navbar{
    background-color: rgb(83, 126, 126);
    color: white;
    float: right;
    /* padding: 20px; */
    font-size: 20px;
    color: white;
    margin: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
    padding: 10px;
    padding-top: 0px;
  }
  li:hover{
     color:  rgb(147, 161, 161);
     cursor: pointer;
  }
 


.container-1
{
    background-color: rgb(83, 126, 126);
    text-align: center;
    padding: 70px;
    color: white;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .btn{
    background-color: transparent;
    border-radius: 18px;
    margin: 30px;
    color: white;
    border-color: white;
    padding: 10px;
    width: 100px;
  }
  .btn:hover{
    color: white;
    background-color: rgb(140, 189, 189);
    cursor: pointer;
  }
.container-2{
    padding-top: 50px;
    padding-bottom: 40px;
}
h2{
    text-align: center;
    padding-bottom: 10px;
}
 .container-2 .column {
    width: 19.32%;
   padding: 20px;
     height: 220px; /*Should be removed. Only for demonstration */
    margin: 14px;
    background-color: rgb(83, 126, 126);
    border-radius: 7px;
    border-color: rgb(104, 136, 136);
    cursor: pointer;
    align-items: center;
    flex-flow: column;
    
  }
  .container-2 .column:hover{
    opacity: 0.4;

  }
  h1{
    text-align: center;
  }
  .container-2 .image-1{
    background-color: transparent;
    width: 70px;
  }
  .container-3{
    background-color: rgb(83, 126, 126);
    padding: 29px;
    text-align: center;
  }
  img{
    background-color: transparent;
  }
  
  
  .back-2{
    width: 50px;
  }
  
  
  